<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавить книгу</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/books/add-book}" enctype="multipart/form-data" method="post" th:object="${book}">
    <label for="title">Название книги:
        <input id="title" type="text" name="title" th:value="*{title}">
    </label><br>
    <div>
        <label for="author">
            <select id="author" name="authorId">
                <option th:each="author : ${authors}"
                        th:value="${author.id}"
                        th:selected="${author == book.authorId}"
                        th:text="${author.lastname + ' ' + author.firstname}">Автор
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="genre">
            <select id="genre" name="genre">
                <option th:each="genre : ${genres}"
                        th:value="${genre}"
                        th:selected="${genre == book.genre}"
                        th:text="${genre.value}">Жанр
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="description">Описание:
            <textarea id="description" name="description" th:value="*{description}"></textarea>
        </label><br>
    </div>
    <label for="image">Картинка:
        <input type="file" id="image" name="image">
    </label>
    <button type="submit">Создать книгу</button>
</form>
<div th:if="${errors}">
    <p th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>