<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список авторов</title>
</head>
<body>
<form action="/authors">
    <div>
        <label for="lastname">Фамилия
            <input id="lastname" type="text" name="lastname" th:value="${filter.lastname()}">
        </label>
        <label for="firstname">Имя
            <input id="firstname" type="text" name="firstname" th:value="${filter.firstname()}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="author : ${authors.content()}">
    <a th:href="@{'/authors/' + ${author.id}}" th:text="|${author.lastname} ${author.firstname}|">Автор:</a>
</div>
</body>
</html>