<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список авторов</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/authors">
    <div>
        <label for="lastname">Фамилия
            <input id="lastname" type="text" name="lastname" th:value="${filter.lastname()}">
        </label>
        <label for="firstname">Имя
            <input id="firstname" type="text" name="firstname" th:value="${filter.firstname()}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="/authors/add-author">Добавить автора</a>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</div>
<div th:each="author : ${authors.content()}">
    <a th:href="@{'/authors/' + ${author.id}}" th:text="|${author.lastname} ${author.firstname}|">Автор:</a>
</div>
<footer style="font-size: large" class="panel-footer">
    Всего авторов: [[${totalAuthors}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    &nbsp; &nbsp; - &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/authors/page/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;&nbsp; &nbsp;
    </span>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>