<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}">Title</title>
</head>
<body>
<b th:text="${book.title}">Название книги</b> <br>
<b th:text="${book.author.lastname} ">Фамилия автора </b>
<b th:text="${book.author.firstname}">Фамилия автора </b>
<h2 th:if="${userBook != null}" th:text="${userBook.status}">Статус</h2>
<div sec:authorize="isAuthenticated()" th:if="${userBook != null}">
    <form th:action="@{/books/{bookId}/update(bookId=${book.id})}" method="post" th:object="${userBook}">
        <select id="status" name="status" th:value="${statuses}" onchange="this.form.submit()">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:selected="${status == userBook.status}"
                    th:text="${status}">Статус
            </option>
        </select>
    </form>
</div>
<div sec:authorize="isAuthenticated()" th:if="${userBook == null}">
    <form th:action="@{/books/{bookId}/update(bookId=${book.id})}" method="post" th:object="${userBook}">
        <select id="statusNotRead" name="status" th:value="${statuses}" onchange="this.form.submit()">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:selected="${status == status.NOT_READ}"
                    th:text="${status}">Статус
            </option>
        </select>
    </form>
</div>
<article th:text="${book.description}">Описание книги</article>
</body>
</html>