<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/books">
    <div>
        <label for="title">Название книги
            <input id="title" type="text" name="title" th:value="${filter.title()}">
        </label>
        <label for="authorLastname">Фамилия автора
            <input id="authorLastname" type="text" name="authorLastname" th:value="${filter.authorLastname()}">
        </label>
        <label for="genre">
            <select id="genre" name="genre" th:value="${genres}">
                <option th:each="genre : ${genres}"
                        th:value="${genre}"
                        th:selected="${genre == filter.genre}"
                        th:text="${genre.value}">Жанр
                </option>
            </select>
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">
    <a href="/books/add-book">Добавить книги</a>
</div>
<div th:each="book : ${books.content()}">
    <a th:href="@{'/books/' + ${book.id}}" th:text="|${book.author.lastname} ${book.author.firstname}. ${book.title}|">Книга</a>
</div>
<footer style="font-size: large" class="panel-footer">
    Всего книг: [[${totalBooks}]] : Страница [[${currentPage}]] из [[${totalPages}]]
    &nbsp; &nbsp; - &nbsp;
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/books/page/' + ${i}}"  >[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
</footer>
</body>
</html>