<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}">Title</title>
</head>
<body>
<b th:text="${book.title}">Название книги</b> <br>
<a th:href="@{/authors/{authorId}(authorId = ${book.author.id})}" th:text="${book.author.lastname + ' ' + book.author.firstname}">Автор</a>
<div  th:if="${userBook != null}">
    <form th:action="@{/books/{bookId}/status(bookId=${book.id})}" method="post" th:object="${userBook}">
        <label for="status">Статус: </label>
        <select id="status" name="status" th:value="${statuses}"
                onchange="this.form.submit()">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:selected="${status == userBook.status}"
                    th:text="${status}">Статус
            </option>
        </select>
    </form>
</div>
<div  th:if="${userBook == null}">
    <form th:action="@{/books/{bookId}/status(bookId=${book.id})}" method="post" th:object="${userBook}">
        <label for="statusNotRead">Статус: </label>
        <select id="statusNotRead" name="status" th:value="${statuses}"
                onchange="this.form.submit()">
            <option th:each="status : ${statuses}"
                    th:value="${status}"
                    th:selected="${status == status.NOT_READ}"
                    th:text="${status}">Статус
            </option>
        </select>
    </form>
</div>
<article th:text="${book.description}">Описание книги</article>
<div sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">
    <a th:href="@{/books/{bookId}/update(bookId=${book.id})}">Обновить информацию о книге</a>
</div>
</body>
</html>