<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Смена пароля</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form th:action="@{/users/{userId}/change-password(userId=${id})}" method="post">
    <label for="oldPassword"> Старый пароль
        <input id="oldPassword" type="password" name="oldPassword">
    </label><br>
    <label for="newPassword"> Новый пароль
        <input id="newPassword" type="password" name="newPassword">
    </label><br>
    <label for="repeatPassword"> Повторите пароль
        <input id="repeatPassword" type="password" name="repeatPassword">
    </label><br>
    <button type="submit">Сменить пароль</button>
</form>
<p th:text="${messages}">
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>