<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<form th:action="@{login}" method="post">
    <div style="color: red" th:if="${param.error}">
        Неправильный логин или пароль
    </div>
    <label for="username"> Электронная почта
        <input id="username" type="email" name="username">
    </label><br>
    <label for="password"> Пароль
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Войти</button>
</form>
<div>
    <div>Войти с помощью:</div>
    <a href="/oauth2/authorization/google">Google</a>
</div>
<form action="/registration">
    <button type="submit">Регистрация</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>