<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/registration}" enctype="multipart/form-data" method="post" th:object="${user}">
    <label for="username">Электронная почта
        <input id="username" type="email" name="username" th:value="*{getUsername}">
    </label><br>
    <label for="rawPassword">Пароль
        <input id="rawPassword" type="password" name="rawPassword">
    </label><br>
    <label for="birthDate">Дата рождения
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label><br>
    <label for="firstname">Имя
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label><br>
    <label for="lastname">Фамилия
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
    <button type="submit">Зарегистрироваться</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>