<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${user.lastname + ' ' + user.firstname}">Пользователь</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<b th:text="${user.username}">Email</b> <br>
<b th:text="${user.lastname}">Фамилия </b>
<b th:text="${user.firstname}">Имя</b> <br>
<time th:text="${#temporals.format(user.birthDate, 'dd-MM-yyyy')}">День рождения</time>
<a th:href="@{/users/{userId}/update(userId=${user.id})}">Обновить данные</a>
<div th:each="userBook : ${userBooks}">
    <a th:href="@{'/books/' + ${userBook.book.id}}"
       th:text="|${userBook.getBook().author.lastname} ${userBook.getBook().author.firstname}. ${userBook.getBook().title}|"></a>
    <a th:text="${userBook.getStatus()}"></a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>