<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.lastname + ' ' + user.firstname}">Пользователь</title>
</head>
<body>
<b th:text="${user.username}">Email</b> <br>
<b th:text="${user.lastname}">Фамилия </b>
<b th:text="${user.firstname}">Имя</b> <br>
<time th:text="${#temporals.format(user.birthDate, 'dd-MM-yyyy')}">День рождения</time>
<a th:href="@{/users/{userId}/update(userId=${user.id})}">Обновить данные</a>
<div th:each="userBook : ${userBooks}">
    <a th:href="@{'/books/' + ${userBook.book.id}}"
       th:text="|${userBook.getBook().author.lastname} ${userBook.getBook().author.firstname}. ${userBook.getBook().title}|"></a>
    <a th:text="${userBook.getStatus()}"></a>
</div>
</body>
</html>